.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centers the columns horizontally */
  align-items: center; /* Centers the content vertically (optional) */
  text-align: center; /* Centers text/images within the columns */
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 40%;
  padding: 5px;

}

.column img {
  margin-top: 8px;
  width: 100%;
}